.table tr td img{
    width: 80px !important;
    height: 80px !important;
    object-fit: cover;
}

td i {
    cursor: pointer;
}

td{
    color: black;
}

.tr__heading{
    color: black;

}


.buy__btnn2{
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 5px;
    background: gray;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 40px;
}

.buy__btnn{
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 5px;
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 40px;
}

.buy__btn a:hover{
    color: #fff;
}
.sub_total{
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
}