/* Billing Form Styles */
.billing__form .form__group {
    margin-bottom: 20px;
}

.billing__form .form__group input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--card-bg-02);
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    outline: none;
}

.billing__form .form__group input:focus {
    border-color: #1A4D2E; /* Adjust color for focused state */
}

/* Checkout Cart Styles */
.checkout__cart {
    padding: 20px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 5px;
}

.checkout__cart h6, .checkout__cart h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.checkout__cart h4 {
    border-top: 1px solid rgba(221, 221, 221, 0.253);
    padding-top: 20px;
}

/* Ensuring correct spacing and alignment */
.checkout__cart span {
    display: inline-block;
    margin-left: 10px;
}

.B_title{
    font-size: 1.5rem;
    font-weight: 500;
    color: black;

}